.RelationDetail {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    margin-bottom: 2em;
  }
  
  .RelationDetail > p {
    text-align: center;
  }
  
  .RelationDetail > p > .material-icons {
    display: block;
    font-size: 3em;
    margin-bottom: 0.25em;
  }
  
  .RelationDetail.is-hydrated {
    display: block;
  }
  
  .RelationDetail .relation-backdrop {
    position: relative;
    margin-bottom: 0px;
  }

  .RelationDetail > .relation-backdrop > img {
    width: 1000px;
  }
  
  .RelationDetail .relation-title {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    color: white;
    font-size: 4em;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    background: linear-gradient(180deg, transparent, rgba(0,0,0,0.5));
    padding: 0.25em 1.5rem;
  }
  
  .RelationDetail .relation-detail-poster {
    float: right;
    width: 20%;
    margin-left: 2em;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.35);
  }
  
  .RelationDetail .relation-meta {
    padding: 1em 1.5em;
    line-height: 1.45;
    color: black;
    background-color: white;
    height: 255px;
  }

  a:link {
    color: #b12d64;
  }
  a:visited {
    color: #b12d64;
  } 
  a:hover {
    color: #64c6c5;
  }
  .RelationDetail .Present-details {
    display: grid;
    grid-template-columns: 270px 270px 270px;
    gap: 20px;
    background-color: transparent;
    padding: 20px;
  }
 